---
title: Portfolio
heading: My Work Samples
subtitle: See some of my work samples with exemplary results.
---

<section class="diagonal patterned">
  <div class="container">
    <p class="editor-link" style="text-align: center;">
      <a href="cloudcannon:collections/_insights/" class="btn"
        ><strong>&#9998;</strong> Manage insights</a
      >
    </p>
    <ul class="image-grid">
      {% for insight in site.insights %}
      <li>
        <a href="{{ site.baseurl }}{{ insight.url }}">
          <img
            src="{% include relative-src.html src=insight.image_path %}"
            alt="{{ person.name }}"
          />
          <div class="details">
            <div class="name">{{ insight.name }}</div>
            <div class="position">{{ insight.subtitle }}</div>
          </div>
        </a>
      </li>
      {% endfor %}
      <li class="filler"></li>
      <li class="filler"></li>
    </ul>
  </div>
</section>
