---
title: Portfolio
heading: My Work Samples
subtitle: See some of my work samples with exemplary results.
---

<section class="diagonal alternate">
  <div class="container box_1620">
    <div class="about-container">
      <div class="left-content">
        <img src="{{ site.baseurl }}/images/SEO.png" />
      </div>
      <div class="right-content">
        <div class="personal_text">
          <h6>Hello Everybody, i am</h6>
          <h3>Rakshit Soral</h3>
          <h4>Digital Marketer</h4>
          <p>My passion includes achieving breakthroughing business results through data-driven internet marketing strategy.
          </p>
          <ul class="list basic_info">
            <li><i class="fa fa-calendar" style="font-size:32px;color:red"></i> 31st December, 1992</li>
            <li><i class="fa fa-phone" style="font-size:32px;color:red"></i> 44 (012) 6954 783</li>
            <li><i class="fa fa-envelope" style="font-size:32px;color:red" aria-hidden="true"></i>
              rakshitsoral@gmail.com</li>
              <li><i class="fa fa-skype" style="font-size:32px;color:red"></i> rakshit.soral</li>
          </ul>
          <ul class="list personal_social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-github"></i></a></li>

          </ul>
        </div>
      </div>
      
    </div>
    </div>
  </div>
  <div class="container">
    <div class="about-container">
      <div class="left-content-text">
        <h3>About Myself</h3>
        					<p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
                  <div class="Row">
                    <div class="Column">C1</div>
                    <div class="Column">C2</div>
                    <div class="Column">C3</div>
                </div>
                </div>
      <div class="right-content">
        <p>Search Engine Optimization (SEO)</p>
<div class="skills-container">
  <div class="skills html">90%</div>
</div>

<p>Landing Page Optimization</p>
<div class="skills-container">
  <div class="skills css">80%</div>
</div>

<p>Content Marketing</p>
<div class="skills-container">
  <div class="skills js">65%</div>
</div>

<p>Adobe Illustrator</p>
<div class="skills-container">
  <div class="skills php">60%</div>
</div>

<p>Website Development</p>
<div class="skills-container">
  <div class="skills php">60%</div>
</div>
      </div>
      
</section>

<section class="diagonal patterned">
  <div class="container">
    <p class="editor-link" style="text-align: center;">
      <a href="cloudcannon:collections/_insights/" class="btn"
        ><strong>&#9998;</strong> Manage insights</a
      >
    </p>
    <ul class="image-grid">
      {% for insight in site.insights %}
      <li>
        <a href="{{ site.baseurl }}{{ insight.url }}">
          <img
            src="{% include relative-src.html src=insight.image_path %}"
            alt="{{ person.name }}"
          />
          <div class="details">
            <div class="name">{{ insight.name }}</div>
            <div class="position">{{ insight.subtitle }}</div>
          </div>
        </a>
      </li>
      {% endfor %}
      <li class="filler"></li>
      <li class="filler"></li>
    </ul>
  </div>
</section>

