.container,
.text-container {
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

.text-container {
  max-width: 1000px;
}

.container {
  max-width: 1300px;
}

header {
  color: #fff;
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  img.rounded-corners {
    border-radius: 30px;
  }

  a {
    text-decoration: none;
    z-index: 1;
    position: relative;

    &:hover {
      text-decoration: none;
    }
  }

  .company-name {
    font-size: 1.7em;
  }
}

.content {
  background: #fff;
  padding: 1px 0 0 0;
  position: relative;
}

.screenshot {
  height: auto;
  display: block;
  margin: 0 auto;
  box-shadow: 0 1px 0 #ccc, 0 1px 1px #eee;
  border-radius: 2px;
  padding: 20px 0 0;
  background: url($screenshot-buttons) 4px 4px no-repeat #ddd;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

section {
  padding: 150px 0;
  background: #fff;
  margin-top: -2px;

  &.diagonal {
    -webkit-transform: skewY(-$section-rotation);
    -moz-transform: skewY(-$section-rotation);
    -ms-transform: skewY(-$section-rotation);
    transform: skewY(-$section-rotation);

    > div {
      -webkit-transform: skewY($section-rotation);
      -moz-transform: skewY($section-rotation);
      -ms-transform: skewY($section-rotation);
      transform: skewY($section-rotation);
    }
  }

  &.hero {
    color: #ffffff;
    background: $brand-color;
    text-align: left;
    margin-top: -100px;
    padding-top: 250px;

    h2,
    p {
      max-width: 90%;
    }

    h2 {
      font-size: 3.5rem;
    }

    p {
      font-size: 1.8rem;
      color: #fff;
    }

    a:not(.button) {
      color: WHITE;
      font-style: italic;
    }
  }

  &.alternate {
    background: #eee;
  }
}

.button {
  font-size: 25px;
  padding: 13px 38px;
  border-radius: 3px;
  display: inline-block;
  color: $brand-color;
  text-decoration: none;
  cursor: pointer;
  margin: 20px 0 0 0;
  border: 1px solid #fff;
  background: #ffffff;
  text-decoration: none !important;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff;
  }

  &:active {
    opacity: 1;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    transform: translateY(1px);
  }
}

.halves {
  display: flex;
  flex-flow: wrap;
  align-items: center;

  > div {
    flex: 1 0 100%;
  }

  @media #{$mid-point} {
    > div {
      flex: 1;
    }

    > div + div {
      padding-left: 20px;
      margin: 0;
    }
  }
}

.aligned-top {
  align-items: flex-start;
}

.image-grid {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: wrap;
  text-align: center;
  margin: 0 -20px;

  li {
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 20px;
    border-radius: 5px;
    text-align: left;
    border: 1px solid $brand-color;
    line-height: 0;

    @media #{$tablet} {
      flex: 1 1 50%;
    }

    @media #{$desktop} {
      flex: 1 1 30%;
    }

    img {
      min-width: 100%;
    }

    > a:hover {
      opacity: 0.9;
    }
  }

  .square-image {
    height: 320px;

    img {
      min-height: 100%;
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .details {
    line-height: 1.2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }

  .name {
    font-size: 1.3rem;
    color: $brand-color;
  }

  .position {
    margin-top: 5px;
    color: #fff;
  }

  .filler {
    border: 0;
  }
}

.image-list,
.image-list li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.patterned {
  background: #222 url($pattern);

  &,
  p {
    color: white;
  }
}
@font-face {
  font-family: "Graphik";
  src: URL(".../GRAPHIK.ttf") format("TrueType");
}
h2.sow-headline
{
  text-align: center;
  margin-top: 15px;
}
p.sow-sub-headline {
  text-align: center;
  line-height: 30px;
}
.recent-posts
  { display: flex; justify-content: space-between; margin-top: 20px;
  }
  .recent-posts-inline
  {
    display: flex; padding: 20px; width: 300px;box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.05), 0 3px 5px -1px rgba(0, 0, 0, 0.07);    background: #fff;
  transition: all 0.4s ease; flex-direction: column;
  }
  .author-bio1
  {
    display: flex; margin-top: 50px;
  }
@media (max-width: 600px)
{
  .recent-posts
  { 
    flex-direction: column;
  }
 .author-bio1
 {
  flex-direction: column;
 }
}
.container_about {
  padding: 20px 40px 40px;
  max-width: 1300px;
  &__image {
      width: 400px;
      margin: 30px 30px 30px 0;
      float: left;
  }
  &__text {
      display: inline;
  }
}
.row-quote
{
  text-align: center;
}

blockquote {
  margin: 0 auto;
  padding: 1em;
  border-left: 5px solid purple;
}
blockquote:before {
  display: none;
}
blockquote:not(:first-of-type) {
  margin-top: .5em;
}
blockquote p {
  color: black;
  font-size: 12pt;
  line-height: 1.4;
  font-family: 'PT Serif', Cambria, 'Hoefler Text', Utopia, 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
}
blockquote span {
  margin-top: .5em;
  padding: 0;
  font-size: 20px;
  color: black;
  text-align: left;
  font-style: italic;
}
blockquote span:before {
  content: "\2014";
}
blockquote:nth-of-type(even) {
  text-align: right;
  border-left: none;
  border-right: 5px solid purple;
}
blockquote:nth-of-type(even) footer {
  text-align: right;
}
blockquote:nth-of-type(even) footer:before {
  content: '';
}
blockquote:nth-of-type(even) footer:after {
  content: ' —';
}
@element 'blockquote' and (min-width: 300px) {
  blockquote {
    padding: 1em 20% 1em 1em;
  }
  blockquote p {
    font-size: 14pt;
  }
  blockquote:nth-of-type(even) {
    padding: 1em 1em 1em 20%;
  }
}
.mb-wrap {
  margin : 20px auto; 
  padding : 20px; 
  position : relative; 
} 

.mb-wrap p {
  margin : 0; 
  padding : 0; 
}

.mb-wrap blockquote {
  margin : 0; 
  padding : 0; 
  position : relative; 
} 

.mb-wrap cite {
  font-style : normal; 
} 

.mb-style-2 blockquote {
  padding-top : 150px; 
} 

.mb-style-2 blockquote:after {
    background: none repeat scroll 0 0 #D8BFD8;
    border-radius: 50% 50% 50% 50%;
    content: open-quote;
    font-family: 'icons';
    font-size: 70px;
    height: 130px;
    left: 50%;
    line-height: 130px;
    margin-left: -65px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 130px;
}
.mb-style-2 blockquote:before {
    border-left: 5px solid purple;
    border-radius: 50% 50% 50% 50%;
    content: "❞";
    height: 500px;
    left: -50px;
    position: absolute;
    top: 0;
    z-index: -1;
}

.mb-style-2 blockquote p {
  color : black; 
  display : inline; 
  font-family : Baskerville, Georgia, serif; 
  font-style : italic; 
  font-size : 28px; 
  line-height : 46px; 
} 

.mb-attribution {
  text-align : right; 
} 

 .mb-author {
  color : purple; 
  font-size : 18px; 
  font-weight : bold; 
  padding-top : 10px; 
  text-transform : uppercase; 
}  

cite a {
  color : black; 
  font-style : italic; 
} 

cite a:hover {
  color : black; 
} 
/* Share Bar */
#share-bar {
  font-size: 20px;
}

/* Title */
#share-bar h4 {
  margin-bottom: 10px;
  font-weight: 500;
}

/* All buttons */
.share-buttons {
}

/* Each button */
.share-button {
  margin: 0px;
  margin-bottom: 10px;
  margin-right: 3px;
  border: 1px solid #D3D6D2;
  padding: 5px 10px 5px 10px;
}
.share-button:hover {
  opacity: 1;
  color: #ffffff;
}

/* Facebook button */
.fa-facebook-official {
  color: #3b5998;
}
.fa-facebook-official:hover {
  background-color: #3b5998;
}

/* Twitter button */
.fa-twitter {
  color: #55acee;
}
.fa-twitter:hover {
  background-color: #55acee;
}

/* Google-PLus button */
.fa-google-plus {
  color: #dd4b39;
}
.fa-google-plus:hover {
  background-color: #dd4b39;
}

/* Pinterest button */
.fa-pinterest-p {
  color: #cb2027;
}
.fa-pinterest-p:hover {
  background-color: #cb2027;
}

/* Tumblr button */
.fa-tumblr {
  color: #32506d;
}
.fa-tumblr:hover {
  background-color: #32506d;
}

/* Reddit button */
.fa-reddit-alien {
  color: #ff4500;
}
.fa-reddit-alien:hover {
  background-color: #ff4500;
}

/* LinkedIn button */
.fa-linkedin {
  color: #007bb5;
}
.fa-linkedin:hover {
  background-color: #007bb5;
}

/* Email button */
.fa-envelope {
  color: #444444;
}
.fa-envelope:hover {
  background-color: #444444;
}