---
layout: page
---

<section class="diagonal">
  <div class="blog-post text-container">
    <div class="post-content">
        {% if page.heading %}
        <h1>{{ page.heading }}</h1>
      {% elsif page.title %}
        <h1>{{ page.title }}</h1>
      {% endif %}        
      {% include post-title.html %}
      {% include share-buttons.html %}

      {{ content }}
      {% include share-buttons.html %}

    </div>
    <div class="author-bio1">
    <div class="left-content" style="flex-direction: row">
          <img
            src="{{ site.baseurl }}/images/RakshitSoral1.png"
            alt="Rakshit Soral"
            style="align-self: flex-start; height: 80px; width: 80px; border-radius: 50%"
          />
          <div style="padding: 0px 15px;">
          <p>
            Hi, I'm Rakshit Soral. This is my personal website. Come Join me as I unfold the lessons from my personal & professional spheres of life & career. 
          </p>I write about</p>

          <p>
            Marketing, web-design, technology
          </p>
        </div>
    </div>
    <div class="right-content" style="border: solid 1px rgba(34, 34, 34, 0.08); justify-content: 	flex-start;">
          <h3 style="padding: 20px 0px">Subscribe to get my best articles in your inbox first</h3>
          <div id="mc_embed_signup">
        <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

            
              <input type="text" name="EMAIL" placeholder="Email address" class="required email" id="mce-EMAIL" style="font: normal 16px/normal SoloSans, arial, sans-serif; height: 43px;"/>
            
            
              <input type="text" name="FNAME" placeholder="First name" class="required" id="mce-FNAME" style="font: normal 16px/normal SoloSans, arial, sans-serif; height: 43px;"/>
            
              <button type="submit" style="    border: none;
              width: 100%;
              background: #822e81;
              color: white;
              font: bold 12px/22px SoloSansEx, arial, sans-serif;
              text-transform: uppercase;
              height: 40px;">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
  {% include related-post.html %}
  <div id="disqus_thread" style="padding-top: 10px"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://rakshitsoral1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
    </div>
</section>

